.input-password-wrapper {
    input {
        padding: 3px 22px 3px 3px;
    }

    .icon-eye{
        svg {
            height: 15px;
            width: 15px;
            position: relative;
            top: 2px;
            right: 20px;
            cursor: pointer;
            opacity: 0.5;
        }

        &.active {
            svg {
                opacity: 1;
            }
        }
    }
}